# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
qq

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Config file
.qq.yaml

# OS specific
.DS_Store